<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!---Custom Css File!--->
</head>
<body>
  <section class="about-us">
    <div class="about">
      <div>
        <img style="height: 250px; width: auto;" src="assets/images/DefaultImage.jpg" alt=""><br><hr><br>
        <h2 class="text-center"><span style="color: orange;">MG|</span><span style="color: black;">Car</span></h2>
      </div>

      <div class="text">
        <h2>Hakkımızda</h2>
        <h5><span>Araç Kiralama Sektöründe Öncü</span></h5>
          <p><strong>MG|Car</strong>, araç kiralama sürecinin her adımında güven ve destek sağlıyor. Müşterinin tüm beklentilerini göz önünde bulundurarak ürün ve hizmetlerini geliştiren <strong>MG|Car</strong>, araç kiralayan müşterinin ihtiyaç duyabileceği her konuda teknolojiyi kullanarak, beklentilerin üzerinde hizmet sunmayı hedefliyor. <strong>MG|Car</strong> markasını, diğer global ve kurumsal araç kiralama şirketlerinden ayrıştıran en önemli özelliği, tamamen müşterilerinin konforu ve mutluluğu düşünülerek geliştirilen teknolojik altyapısıdır.</p>
        <div class="data">
        <a href="contact" class="hire">Bizimle İletişime Geçin</a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
