<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
      <div class="row mb-5">
          <div class="col-md">
              <div class="ftco-footer-widget mb-4">
                <h2 routerLink="/cars" ><span style="color: orange;">MG|</span><span>Car</span></h2>
                  <p>Yepyeni araçlar,<br>yepyeni maceralar</p>
                  <ul class="ftco-footer-social list-unstyled float-md-left float-lft d-flex mt-5 ">
                      <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span
                                  class="me-4 icon bi-twitter "></span></a></li>
                      <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span
                                  class="me-4 icon bi-facebook"></span></a></li>
                      <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span
                                  class="icon bi-instagram"></span></a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md">
              <div class="ftco-footer-widget mb-4 ml-md-5">
                  <h2 class="ftco-heading-2">Bilgi</h2>
                  <ul class="list-unstyled">
                      <li><a href="#" class="py-2 d-block">Hakkında</a></li>
                      <li><a href="#" class="py-2 d-block">Servisler</a></li>
                      <li><a href="#" class="py-2 d-block">Şartlar ve Koşullar</a></li>
                      <li><a href="#" class="py-2 d-block">En İyi Fiyat Garantisi</a></li>
                      <li><a href="#" class="py-2 d-block">Gizlilik ve Çerez Politikası</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md">
              <div class="ftco-footer-widget mb-4">
                  <h2 class="ftco-heading-2">Müşteri Desteği</h2>
                  <ul class="list-unstyled">
                      <li><a href="#" class="py-2 d-block">FAQ</a></li>
                      <li><a href="#" class="py-2 d-block">Ödeme Seçenekleri</a></li>
                      <li><a href="#" class="py-2 d-block">Seyahat İpuçları</a></li>
                      <li><a href="#" class="py-2 d-block">Nasıl Çalışıyor</a></li>
                      <li><a href="#" class="py-2 d-block">Bizimle İletişime Geç</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md">
              <div class="ftco-footer-widget mb-4">
                  <h2 class="ftco-heading-2">Bir Sorun mu Var?</h2>
                  <div class="block-23 mb-3">
                      <ul>
                          <li><span class="bi bi-geo-alt-fill" style="color: orange;"></span><span class="text">İstanbul, Türkiye</span></li>
                          <li><a href="#"><span class="bi bi-telephone-fill" style="color: orange;"></span><span class="text">+90 123 456 78 90</span></a></li>
                          <li><a href="#"><span class=" bi bi-envelope-fill" style="color: orange;"></span><span
                                      class="text">info@info.com</span></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 text-center">
              <p class="footer-text"  style="color: orange;">
                  ©2023 Tüm hakları saklıdır.
              </p>
          </div>
      </div>
  </div>
</footer>
