<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<ul class="list-group">
  <li class="list-group-item list-group-item-success text-center h5">Renkler</li>
  <div class="mb-3">
    <input type="text" id="filterText" [(ngModel)]="filterText" class="form-control" id="exampleFormControlInput1" placeholder="Araç rengi giriniz..">
  </div>
  <div *ngIf="filterText.length>2" class="alert alert-success">
    {{filterText}} rengini aradınız..
  </div>

  <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="selectedColor" routerLink = "/cars/colors/{{selectedColor}}">

    <option selected [ngValue]="null">Renk seçiniz.</option>
    <option (click)="cleanCurrentColor()" [class]="getAllColorClass()" value="all-colors">Tüm Renkler</option>
    <option (click)="setCurrentColor(color)"
    [class]="getCurrentColorClass(color)"
    *ngFor="let color of colors | filterColorPipe:filterText" [value]="color.colorId">{{color.colorName}}</option>
  </select>
</ul>

<!-- <h5 *ngIf="currentColor">{{currentColor.colorName}} seçtiniz</h5> -->

