<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="assets/images/arac.png" alt="">
        <div class="text">
          <span class="text-1">Yardımcı olmamızı istediğiniz <br> bir konu mu var?</span>
          <span class="text-2">Bizimle İletişime Geçin..</span>
        </div>
      </div>
    </div>
    <div class="forms">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Bir Sorun mu Var?</h2><br><hr><br>
            <div class="block-23 mb-3">
                <ul>
                    <li><span class="bi bi-geo-alt-fill" style="color: orange;"></span><span class="text">İstanbul, Türkiye</span></li>
                    <li><a href="#"><span class="bi bi-telephone-fill" style="color: orange;"></span><span class="text">+90 123 456 78 90</span></a></li>
                    <li><a href="#"><span class=" bi bi-envelope-fill" style="color: orange;"></span><span
                                class="text">info@info.com</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
  </div>
</body>
</html>
