@import url(https://fonts.googleapis.com/css?family=Roboto);

body{
  font-family: "Roboto", "Sans Serif";
  font-size: 18pt;
  color: #fff;
  background: #3498db;
}

.wrapper{
  margin: auto;
  width: 100%;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

label{
  display: block;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #fff;
  background-color: #0275d8;
  color: white;
  border-bottom: none;
}

label:hover{
  background: orange;
}

label.last{
  border-bottom: 1px solid #fff;
}

ul ul li{
  color: white;
  padding: 10px;
  background: #1f2251;
}

ul ul li:hover{
  background: orange;

}

input[type="checkbox"]{
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] ~ ul{
  height: 0;
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ ul{
  height: 100%;
  transform-origin: top;
  transition: transform .2s ease-out;
  transform: scaleY(1);
}

input[type="checkbox"]:checked + label{
  background: orange;
  border-bottom: 1px solid #fff;
}


